.DS_Store
node_modules
build/
.env
!packages/extension/.env
.now
.cache
.parcel-cache
dist
.next
.vercel

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.npmrc
tsconfig.tsbuildinfo