.footer {
  position: absolute;
  top: calc(100vh - 38px);
  left: 0;
  width: 100%;
  transition: transform 0.24s ease-in-out;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color-1);
}

.footerOpen {
  transform: translateY(calc(-1 * (100vh - 38px)));
}

.footerBar {
  height: 38px;
  border-bottom: 1px solid transparent;
}
.footerBarOpen {
  border-bottom-color: var(--bg-color-3);
}

.text {
  font-size: 12px;
  line-height: 14px;
}
