.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--gray-100);
  transition: 2s ease-in-out;
}

.line {
  border-top: 1px solid #b6b6b6;
  width: 100%;
}

.text {
  font-size: 12px;
  line-height: 14px;
}

@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #4f4f4f;
  }
}
