.line {
  border-top: 1px solid #b6b6b6;
  width: 100%;
}

.text {
  font-size: 12px;
  line-height: 14px;
}

.sheet {
  background-color: var(--gray-100);
}

@media (prefers-color-scheme: dark) {
  .sheet {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
