.app {
  position: relative;
  width: 300px;
  max-height: 400px;
  background: inherit;
  overflow: auto;
  border-radius: 4px;
}

.shadowRoot {
  transition: 0.2s;
}

.hidden {
  opacity: 0;
  transform: translateY(-8px);
}

.shown {
  opacity: 1;
  transform: none;
}
