.container {
  position: absolute;
  top: 8px;
  right: 8px;
  display: grid;
  grid-template-columns: 20px;
  grid-template-rows: 20px;
  & > .timer,
  & > .close {
    grid-column: 1;
    grid-row: 1;
  }
}

.hovered {
  & > .timer {
    transition: none;
    opacity: 0;
    transform: scale(0);
  }
  & > .close {
    opacity: 1;
  }
  & .remaining {
    transition: none;
  }
}

.close {
  border: none;
  background: none;
  height: 20px;
  width: 20px;
  border-radius: var(--br);
  opacity: 0;
  transition: 0.12s;
  padding: 0;
  cursor: pointer;
}

.timer {
  transition: 0.12s;
  height: 20px;
  width: 20px;
  pointer-events: none;
  transform-origin: center;
  transform: scaleX(-1);
}

.group {
  fill: none;
  stroke: none;
}

.remaining {
  stroke-width: 16px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: var(--brand-500);
}
