.link {
  border-bottom: 1px solid #0072c9;
  color: #0072c9;
  outline: none;
  text-decoration: none;
  line-height: 0.9;
  font-size: inherit;
  &:hover {
    border-bottom-color: #0060a9;
    color: #0060a9;
  }
}
