.history {
  height: calc(100vh - 38px);
  overflow-y: scroll;
  background-color: var(--bg-color-1);
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
  border-right: 1px solid var(--bg-color-3);
}

.entry {
  height: auto;
  cursor: pointer;
  transition: 0.24s ease-in;
  background-color: var(--bg-color-2);
  &:not(:last-child) {
    border-bottom: 1px solid var(--bg-color-3);
  }
  &:hover {
    background-color: var(--bg-color-3);
  }
}

.languages {
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {
  .historyHeading:hover {
    --bg-color: var(--bg-color-3);
  }
  .historyHeading:active {
    --bg-color: var(--bg-color-4);
  }
}
