.history {
  height: calc(100vh - 38px);
  overflow-y: scroll;
  background-color: var(--gray-100);
  border-bottom: 1px solid transparent;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.entry {
  height: auto;
  border-radius: var(--br);
  cursor: pointer;
  transition: 0.24s ease-in;
  background-color: var(--gray-100);
  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-300);
  }
  &:hover {
    background-color: var(--gray-300);
  }
}

.languages {
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {
  .historyHeading:hover {
    --bg-color: hsla(0, 0%, 100%, 0.1);
  }
  .historyHeading:active {
    --bg-color: hsla(0, 0%, 100%, 0.15);
  }
}
